@import "tailwindcss";

:root {
  --brand-blue: #3b82f6;
  --brand-pink: #ec4899;
  --brand-yellow: #f59e0b;
  --brand-green: #10b981;
  --brand-purple: #8b5cf6;
  --brand-orange: #f97316;
}

@layer utilities {
  .bg-blob {
    filter: blur(80px);
    opacity: 0.15;
  }
}